
## <summary>policy for n33bcoin</summary>


########################################
## <summary>
##	Transition to n33bcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`n33bcoin_domtrans',`
	gen_require(`
		type n33bcoin_t, n33bcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, n33bcoin_exec_t, n33bcoin_t)
')


########################################
## <summary>
##	Execute n33bcoin server in the n33bcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`n33bcoin_initrc_domtrans',`
	gen_require(`
		type n33bcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, n33bcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search n33bcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`n33bcoin_search_lib',`
	gen_require(`
		type n33bcoin_var_lib_t;
	')

	allow $1 n33bcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read n33bcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`n33bcoin_read_lib_files',`
	gen_require(`
		type n33bcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, n33bcoin_var_lib_t, n33bcoin_var_lib_t)
')

########################################
## <summary>
##	Manage n33bcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`n33bcoin_manage_lib_files',`
	gen_require(`
		type n33bcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, n33bcoin_var_lib_t, n33bcoin_var_lib_t)
')

########################################
## <summary>
##	Manage n33bcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`n33bcoin_manage_lib_dirs',`
	gen_require(`
		type n33bcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, n33bcoin_var_lib_t, n33bcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an n33bcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`n33bcoin_admin',`
	gen_require(`
		type n33bcoin_t;
		type n33bcoin_initrc_exec_t;
		type n33bcoin_var_lib_t;
	')

	allow $1 n33bcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, n33bcoin_t)

	n33bcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 n33bcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, n33bcoin_var_lib_t)

')

